<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewer Layout</title>
</head>
<body class="text-center">
    <br>
    <h1 class="text-bolder">Viewer Layout</h1>
    <br>
    <br>
    <br>
    <h4>Grupo Nasa Tecnología
        Examen <i>Practico Web</i></h4>
        <h6>Alexis Arzaga</h6>

        <li>Si es necesario en la carpeta Helper, cambiar en el archivo constants el puerto de BASE_URL</li>
</body>
</html>